<template>
  <html>
  <head>
    <meta charset="UTF-8">
    <title>Ocean Free Coming Soon bootstrap Template</title>
    <meta name="description" content="Free Responsive HTML5 CSS3 Coming Soon Template">
    <meta name="author" content="webthemez">
    <meta name="authorUrl" content="http://webthemez.Com">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Bootstrap -->
    <link href="/css/cs/bootstrap.css" rel="stylesheet">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/cs/style.css">
    <link rel="stylesheet" href="/css/cs/timerStyles.css">

    <!-- Font Awesome -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!--Fav and touch icons-->
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="bg">
    <div class="bg-color">
      <div class="container content">

        <div class="row">
          <div class="blazer clearfix">
            <div class="col-sm-12">
              <h1>OCEAN</h1>
              <h2>We're coming soon</h2>
              <h3>Stay tuned for something Amazing</h3>
            </div>

            <div id="right-block" class="col-sm-12 text-center">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                  <div class="timing">
                    <div id="count-down" data-date="2016-12-28 00:00:00">

                    </div>
                  </div>
                  <!-- /.timing -->
                </div>
              </div>
              <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                  <p class="alert-success"></p>
                  <p class="alert-warning"></p>
                  <form class="newsletter-signup" role="form">
                    <div class="input-group">
                      <input type="email" class="form-control" id="email" placeholder="enter your email id" required>
                      <span class="input-group-btn">
									  <input type="submit" class="btn btn-default btn-sand" value="Submit">
									</span>
                    </div><!-- /input-group -->
                  </form>
                </div>
              </div>
              <p class="followus"></p>
              <ul class="social-icon">
                <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
                <li><a href=""><i class="fa fa-youtube-square"></i></a></li>
              </ul>
              <div class="row">
                <div class="col-sm-12 text-center copyRights"> Copyright 2015 | All Rights Reserved - Template by
                  <a href="http://webThemez.com">WebThemez.com</a>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

      <!-- .container end here -->
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  <!-- Include all compiled plugins (below), or include individual files as needed -->


  </body>
  </html>
</template>

<script>

  import 'JQuery'
  import '../../../timerStyles.js'
  import '../../../jquery.ajaxchimp.min.js'
  import '../../../script.js'
  import '../../../jquery.placeholder.js'


  // global.jQuery = require('jquery');
  // var $ = global.jQuery;
  // widows.$ = $;

    export default {
        name: "Timer"
    }

    $(function() {
      // Invoke the plugin
      $('input, textarea').placeholder();
    });

    $("#count-down").TimeCircles(
      {
        circle_bg_color: "#ffffff",
        use_background: true,
        bg_width: .2,
        fg_width: 0.013,
        time: {
          Days: { color: "#ffffff" },
          Hours: { color: "#ffffff" },
          Minutes: { color: "#ffffff" },
          Seconds: { color: "#ffffff" }
        }
      }
    );
</script>

<style scoped>

</style>
